# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
Pipfile.lock

# Environnements virtuels Windows
venv**/

# MCP SQLite et fichiers générés
industrial.db
*.sqlite3

# Mac
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Node / Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.turbo/

# npm / pnpm
package-lock.json
pnpm-lock.yaml

# Distribution
*.egg-info/
*.whl
*.tar.gz

# Tests
.coverage
.pytest_cache/

# autres
.env
